@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Protótipo para gestão de uma faculdade.</p>
    <p>Link para o GitHub - <a style="color:black;" href="https://github.com/LuisFilipe29/MagniFinanceExercise">aqui</a></p>
</div>
